@model Entities.Pie
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-3">
        <img src="~/images/@Model.ImageThumbnailUrl" alt="@Model.Name" class="img-fluid" />
    </div>
    <div class="col-md-9">
        <h1 class="mb-3">
            @Model.Name
        </h1>
        <hr />
        <div class="mb-3">
            <h4 class="text primary mb-3">
                @Model.Price TL
            </h4>
            <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pieId="@Model.PieId">Add To Cart</a>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="p-3">
            @Model.ShortDescription
        </p>
        <p class="p-3">
            @Model.LongDescription
        </p>
    </div>
</div>

